body{
    background-color: dodgerblue;
    color: floralwhite;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
}

.negrito{
    font-weight: 700;
 
}

label.negrito{
    font-weight: 700;
    display: block;
}
.inline{
    display: inline !important;
}

button.negrito{
    color: black;
    background-color: whitesmoke
}
